<div class="container">
	<h2 *ngIf="personnes && personnes.length > 0">{{title}}</h2>

	<button class="btn btn-primary">
		rechercher
	</button>
	<hr>
	<div class="my-2">
		<div class="row">
			<div class="col-md-4">
				<span> Filtre actuel</span>
			<b>{{personneFiltre}}</b>
			</div>
			<div class="col-md-8 form-group">
				<input type="text" class="form-control" [(ngModel)] = "personneFiltre">
			</div>
		</div>
	</div>
	<div class="col mb-4" *ngFor="let personne of filtrePersonne">
		<div class="card">
			<img
			[src]="personne.imageUrl"
			[title]="personne.nom | uppercase"
			class="card-img-top"
			[alt]="personne.age"
			/>
			<div class="card-body">
				<h5 class="card-title">{{personne.nom}}</h5>
				<p class="card-text">--{{personne.prenom}}</p>
				<div class="bi bi-arrow-right-circle"></div>
			</div>
			<div class="d-flex justify-content-between align-items-baseline">
				<span class="material-icons bg-info text p-2 rounded-circle btn"
				[routerLink]="['/personnes', personne.id]">
					keyboard_arrow_right
				</span>
        <span class="material-icons bg-primary text p-2 rounded-circle btn"
				[routerLink]="['/personnes', personne.id, 'edit']">
					edit
				</span>
			</div>
		</div>
	</div>
</div>
